backend/db/drizzle/*
graphql-types.ts
schema.graphql
shared/gql/*
shared/urql/graphql.schema.json
frontend/src/fonts.generated.ts
app/src/fonts.generated.ts
app/src/graphql.schema.json
app/.expo/*
app/expo-env.d.ts
frontend/src/**/*.module.css.d.ts
lightroom/*
app/ios/*
app/android/*
