name: PICR on push

on:
  push:
    paths-ignore:
      - 'lightroom/**'
      - 'docs/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'lightroom/**'
      - 'docs/**'
      - '*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
#  test:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - run: mkdir -p ./tests/api/env && wget --no-verbose https://photosummaryapp.com/picr-demo-data.zip --output-document=./tests/api/env/sample.zip
#        name: "✅  [tests] download sample files"
#      - run: npm run test
#        name: "✅ [test] run backend tests (vitest)"
